body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFDAB9;
    color: #333;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6b3480;
    color: white;
    padding: 10px 20px;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar .search-bar {
    display: flex;
    align-items: center;
}

.navbar .search-bar input {
    padding: 5px;
    border: none;
    border-radius: 4px;
}

.navbar .search-bar button {
    padding: 5px 10px;
    margin-left: 5px;
    background-color:#6b3480;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.navbar .account-section {
    display: flex;
    align-items: center;
}

.navbar .account-section a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.navbar .account-section .dropdown {
    position: relative;
}

.navbar .account-section .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 4px;
}

.navbar .account-section .dropdown:hover .dropdown-content {
    display: block;
}

.navbar .account-section .dropdown-content a {
    display: block;
    color: #333;
    text-decoration: none;
    margin-bottom: 5px;
}
footer {
    text-align: center;
    background-color:#6b3480;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Dashboard container styles */
.dashboard-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.dashboard-container .header {
    font-size: 2em;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    background-color: #6b3480;
    color: #fff;
    margin-bottom: 20px;
}

.dashboard-container .order-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard-container .order {
    display: flex;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.dashboard-container .order img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-right: 20px;
}

.dashboard-container .order .order-details {
    flex-grow: 1;
}

.dashboard-container .order .status-select {
    margin-left: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.dashboard-container .logout-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2a2f87;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
